header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .textHeaderTitle {
    display: flex;
    align-items: baseline;
    gap: 20px;

    a {
      text-decoration: none;
      color: black;
      font-weight: bold;
      font-size: 40px;
    }
  }  

  .textHeaderAccountMenu {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;

    .addPostBtn {
      cursor: pointer;
      border: transparent;
      background-color: #0C730D;
      color: #fff;
      border-radius: 100px;
      padding: 5px 14px;
      font-size: 14px;
    }

    .addPostBtn:hover {
      background-color: #09550a;
    }
  }
}

.submitPostBtn {
  cursor: pointer;
  border: transparent;
  background-color: #0C730D;
  color: #fff;
  border-radius: 100px;
  padding: 5px 14px;
  font-size: 14px;
}

.content  {
  margin-inline: 400px;
}

.profileBtn {
  cursor: pointer;
  border: transparent;
  background-color: #967070;
  color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 60px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.profileBtn:hover {
  background-color: #7e4e4e;
}

.dropdown-menu {
  width: 260px;
  position: absolute;
  right: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 16px 20px;
  border-radius: 3px;

  li {
    color: #6B6B6B;
    cursor: pointer; 
    display: flex;
    align-items: center;
    gap: 7px;

    form {
      button  {
        color: #6B6B6B;
        cursor: pointer;
        padding: 0;
        border: transparent;
        background-color: transparent;
      }

      button:hover {
        color: black;
      }
    }
  }

  li:hover {
    color: black;
  }
}

.submitPost {
  input, textarea {
    border: none;
    padding: 50px;
    font-size: 40px;
  }

  input:focus,
  textarea:focus {
  border: none;
  outline: none;
}
}
